<% if object.errors.any? %>
<div id="error_explanation">
	
  <h6> <%= pluralize(object.errors.count, "errores") %>:</h6>
 
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>